header,
footer,
.maximenu {
    background-color: #8ba9c7;
}

header input {
    border-radius: 5px;
}

.maximenu {
    border: 1px solid #9aebff;
    font-weight: bold;
}

#homme,
#femme,
#enfant,
#accessoires {
    cursor: pointer;
}

.homme,
.femme,
.enfant,
.accessoires {
    background-color: #9aebff;
    padding: 0px;
    margin: 0px;
    position: absolute;
    z-index: 100;
}

.homme ul li,
.femme ul li,
.enfant ul li,
.accessoires ul li {
    list-style: none;
}

.homme ul a,
.femme ul a,
.enfant ul a,
.accessoires a {
    color: black;
}

.homme ul a:hover,
.femme ul a:hover,
.enfant ul a:hover,
.accessoires a:hover {
    color: #e65324;
    text-decoration: none;
}

.imagehomme,
.imagefemme,
.imageenfant,
.imageaccesoires {
    margin: 0px;
}

.soustitre {
    font-weight: bold;
    color: red;
    text-decoration: underline red;
}

.minimenu,
.blocfemme,
.blocenfant,
.blochomme {
    border: 1px solid #8ba9c7;
    margin: 0px;
}

.minimenu {
    border-radius: 10px 10px 0px 0px;
    background-color: #8ba9c7;
}

.blocfemme,
.blocenfant,
.blochomme {
    border-radius: 0px 0px 10px 10px;
}

#meilleursvente,
#produitsenpromo,
#nouveautés {
    border: 1px solid #9aebff;
    padding: 15px 40px;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    font-weight: bold;
}

.minimenuarticles {
    cursor: pointer;
}

#catergory {
    border: 1px;
}

h3 {
    background-color: #9aebff;
}

#filtre {
    background-color: #8ba9c7;
}

.price-value {
    color: red;
    font-weight: bold;
}